@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  width: 100%;
  max-width: 1080px;
  font-size: 16px;
  background-color: rgb(48, 16, 136);
  font-family: 'Inter', sans-serif;
}


button{
  border: none;
  border-radius: 5px;
}